
.layout-sidebar {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  position: absolute;
  float: left;
  padding-top: 60px;
  height: 100%;
  z-index: 2;
}

.layout-header {
  position: fixed;
  width: 100%;
  z-index: 99999;
  color: #010101;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.layout-content {
  position: absolute;
  height: calc(100% - 60px);
  width: calc(100% - 200px);
  margin-left: 200px;
  margin-top: 60px;
}

// .layout-content{
//   padding: 10px 0 10px 10px;
// }
.breadcrumb{
  position: absolute;
  width: 100%;
  border-radius: 0px;
  z-index: 1;
  background: rgb(244, 248, 251);

}
.content-wrapper .content {
  margin-top: 55px;
}
.welcomeText{
  padding: 15px
}
.text-center{
  text-align: center;
}

